{* Latte template *}

{block content}

<a n:href="FrontPage:default">frontpage</a>
<a n:href="FrontPage:add">frontpage</a>

<a n:href="Record:default">record</a>
<a n:href="Borrowing:default">borrow</a>