#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error

	session:
		expiration: 14 days


services:
	- App\Model\UserManager
	- App\RouterFactory
	- App\Model\TermManager
	- App\Model\RecordManager
	- App\Model\FrontpageManager
	- App\Model\EventManager
	- App\Model\ConfigManager
	- App\Model\BorrowingManager
	- ITimeLineControlFactory
	router: @App\RouterFactory::createRouter
smfMenu:
    defaultRenderer: bootstrapNav # jaký použít výchozí renderer (úplně výchozí je list)
