<ul class="timeline">
{foreach $data as $record}
	{if $iterator->isOdd()}
		<li>
	{else}
		<li class="timeline-inverted">
	{/if}
			{if $record->done}
				<div title="Záznam ukončen" class="timeline-badge  green lighten-0">
					<i class="mdi-action-done"></i>
				</div>
			{elseif $record->date_done && $record->date_done <  new \DateTime() }
				<div title="Záznam v prodlevě" class="timeline-badge  red lighten-0">
					<i class="mdi-alert-error"></i>
				</div>
			{else}
				<div title="Záznam v řešení" class="timeline-badge  blue lighten-0">
					<i class="mdi-action-event"></i>
				</div>
			{/if}

		<div class="timeline-panel">
			<div class="timeline-heading">
				<a href="{plink Record:detail $record->id}"><h4 class="timeline-title">{$record->name}</h4></a>
				<p>
					<small class="text-muted">Datum zahájení:</small> <i class="glyphicon glyphicon-time">{$record->date|date:'%d.%m.%Y'}</i>
					<br>
					<small class="text-muted">Předpokládané datum ukončení:</small> <i class="glyphicon glyphicon-time">{$record->date_done|date:'%d.%m.%Y'}</i>
				</p>
			</div>
			<div class="timeline-body">
				<p>{$record->description|truncate:700|noescape}</p>
			</div>
			<div>
				{if $record->user_id == $user->getId()}
					{if !$record->done}
						<a href="{plink :Admin:Record:finish $record->id, backlink => $presenter->storeRequest()}" title="Dokončit" class="btn-floating waves-effect waves-light  light-blue"><i class="mdi-action-done"></i></a>
					{/if}
					<a href="{plink :Admin:Record:delete $record->id, backlink => $presenter->storeRequest()}" title="Smazat záznam" class="btn-floating waves-effect waves-light  red"><i class="mdi-action-delete"></i></a>
					<a href="{plink :Admin:Record:edit $record->id}" title="Upravit záznam" class="btn-floating waves-effect waves-light light-green accent-3"><i class="mdi-editor-mode-edit"></i></a>
				{/if}
				<a href="{plink :Admin:Record:detail $record->id}" title="Detail záznamu" class="btn-floating waves-effect waves-light orange"><i class="mdi-action-subject"></i></a>
			</div>
		</div>
	</li>
{/foreach}
</ul>



