{block headerH1}Přehled událostí{/block}
{block content}

<div class="row">
	<div class="col s9">
		<a n:href="Event:add" title="Nová událost" class="right-align btn-floating btn-large waves-effect waves-light blue"><i class="mdi-content-add"></i></a>
	</div>
	<div class="col s3">
		<a n:href="Event:list" class="waves-effect waves-light btn-large right-align grey" title="TimeLine výpis"><i class="mdi-action-question-answer"></i></a>
	</div>
</div>

<table class=" striped responsive-table">
	<tr>
		<th>Id</th>
		<th>Název</th>
		<th>Popis</th>
		<th>Datum konání</th>
		<th>Zápis</th>
		<th>Vytvořil</th>
		<th>Počet upozornění</th>
		<th></th>
	</tr>

{foreach $events as $event}
		<td>{$event->id}</td>
		<td>{$event->nazev}</td>
		<td>{$event->popis|truncate:500|striptags}</td>
		<td>
			{if $event->datum}
				{$event->datum|date:'%d.%m.%Y %H:%M'}
			{else}
				Datum konání není určen
			{/if}
		</td>
		<td>{$event->zapis|truncate:500|striptags}</td>
		<td>{$event->ref('uzivatel','uzivatel_id')->prijmeni}</td>
		<td>{$event->pocet_upozorneni}</td>
		<td>
		{if $event->uzivatel_id == $user->getId() || $user->isInRole('admin')}
			<a n:href="Event:delete $event->id, backlink => $presenter->storeRequest()" title="Smazat událost" class="btn-floating waves-effect waves-light  red"><i class="mdi-action-delete"></i></a>
			<a n:href="Event:edit $event->id" title="Upravit událost" class="btn-floating waves-effect waves-light light-green accent-3"><i class="mdi-editor-mode-edit"></i></a>
		{/if}
			<a href="{plink Event:detail $event->id}" title="Detail záznamu" class="btn-floating waves-effect waves-light orange"><i class="mdi-action-subject"></i></a>
		</td>
	</tr>
{/foreach}
</table>