{block headerH1}Nový záznam{/block}
{block scripts}
 {include #parent}  {* include parent #scripts block *}
<script src="{$basePath}/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
	CKEDITOR.replace( 'editor' );
</script>
{/block}
{block content}
{control recordForm}