body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}
.brand-logo{
	margin-left: 10%;
}
main{
	min-height: 750px;
}
@media only screen and (max-width : 992px) {
  .hide-on-med-and-down {
    display: inherit !important; } }

@media only screen and (min-width : 601px) {
  .hide-on-med-and-up {
    display: inherit !important; } }


.checkBox{
   // top: 10px;
}

.eventcard {
	width: 30% !important;
    margin: 30px;
}
.eventRemoveTime{
		padding-left: 10px;
		margin-left: -15px;
}
.eventTable td , .eventTable th{
	border-left:  1px solid black;
	border-collapse: collapse;
}

.eventTable {
  //border-collapse: collapse;
}
.eventTable td, .eventTable th {
  border: 1px solid grey;
}
.eventTable tr:first-child th {
  border-top: 0;
  border-bottom: 0;
}
.eventTable tr:second-child th {
  border-top: 0;
}
.eventTable tr:last-child td {
  border-bottom: 0;
}
.eventTable tr td:first-child,
.eventTable tr th:first-child {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
.eventTable tr td:last-child,
.eventTable tr th:last-child {
  border-right: 0;
}
.card.small{
	height: 200px;
}

@media only screen and (max-width : 1500px) {
	.eventcard {
		width: 45% !important;
	}
 }

@media only screen and (max-width : 1150px) {
	nav .nav-wrapper h1 {
		font-size: 40px;
	}
	.eventcard {
		width: 45% !important;
	}
	.eventbutton{
		margin-left: 0%!important;
	}
 }

@media only screen and (max-width : 992px) {
	nav .nav-wrapper h1 {
		font-size: 35px;
	}
	ul.side-nav.fixed li a{
		font-size: 2vw;
	}
	.brand-logo{
		margin-left: 35%;
	}
 }

  @media only screen and (max-width : 740px) {
	.eventcard {
		width: 90% !important;
	}
	.brand-logo{
		margin-left: 40%;
	}
 }
 @media only screen and (max-width : 600px) {
	nav .nav-wrapper h1 {
      font-size: 3vw; }
	ul.side-nav.fixed li a{
	  font-size: 3vw;
	}

 }
 @media only screen and (max-width : 550px) {
	nav .nav-wrapper h1 {
      font-size: 3.5vw; }
	.eventcard {
		width: inherit !important;
	}
	.brand-logo{
		margin-left: 45%;
	}
 }

 @media only screen and (max-width : 400px) {
	nav .nav-wrapper h1 {
      font-size: 4vw; }
	ul.side-nav.fixed li a{
	  font-size: 4vw;
	}
 }